@model NeatBurger.Models.ViewModels.PromocionesViewModel;
@{
    Layout = "AnonLayout";
}

<section class="menu1">
    <img src="~/hamburguesas/@(Model.Promocion.Id).png" />
    <div class="datos">
        <h3>
            <del>@Model.Promocion.Precio.ToString("c")</del>
            <b>@Model.Promocion.PrecioPromocio.ToString("c")</b>
        </h3>
        <h2>@Model.Promocion.Nombre</h2>
        <p>@Model.Promocion.Descripcion</p>
    </div>
    <span>
        <a href="~/Promociones/@Model.PromocionAnterior.Replace(" ","-")">&lt;</a>
        <a href="~/Promociones/@Model.PromocionSiguiente.Replace(" ","-")">&gt;</a>
    </span>
</section>
