@{
    Layout = "AnonLayout";
}

<section class="menu1">
    <img src="hamburguesas/1.png" />
    <div class="datos">
        <h3>
            <del>$110.99</del>
            <b>$100.99</b>
        </h3>
        <h2>CUARTO DE LIBRA CON QUESO</h2>
        <p>Un cuarto de libra de carne de res con dos rebanas de queso, cebolla, pepinillos, mostaza y una porción de tomate, todo en un pan con ajonjolí.</p>
    </div>
    <span>
        <a href="promociones.html">&lt;</a>
        <a href="promociones.html">&gt;</a>
    </span>
</section>
